@use '../base/fonts'as *;

.blog-container {
  width: 906px;
  margin: auto;
  @media (max-width: 768px) {
    width: 100%;
  }

  .publisher-details {
    margin: 26px auto;
  }

  p,
  ul,
  ol {
    font-size: 18px;
    line-height: 26px;
  }

  .main-banner {
    margin: 74px auto 60px;

    @media (max-width: 768px) {
      margin: 52px auto 50px;
    }
  }

  .blog-content,
  .why-pink {
    margin: auto 22px;

    @media (max-width: 768px) {
      margin: auto 30px;
    }
  }

  ul,
  ol {
    padding: 0 22px;
  }

  .blog_banner_main {
    padding: 120px 100px 58px;

    @media (max-width: 768px) {
      padding: 166px 30px 66px;
    }
  }

  .blog-header {
    h1 {
      margin: 70px auto 26px;
    }
  }

  button {
    font-family: 'Futura', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: $font-regular;
    padding: 10px 26px;
    border: 1px solid rgba(30, 30, 30, 1);
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    margin: 40px auto 32px;
  }

  .latest-news {
    margin: auto;
    padding: 20px;
    position: relative;
    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 40px);
      height: 2px;
      background: #C9C9C9;
      margin: 60px auto;

      @media (max-width: 768px) {
        width: calc(100% - 60px);
        justify-self: anchor-center;
      }
    }

    .latest-news-title {
      margin: 74px auto 52px;
      padding-top: 34px;
      text-align: center;
    }

    .news-item {
      display: flex;
      align-items: center;
      gap: 24px;
      padding: 30px 0;
      position: relative;

      img {
        width: 127px;
        height: 100%;

        @media (max-width: 768px) {
          height: 100%;
          width: 127px;
        }
      }

      span {
        font-size: 14px;
        line-height: 20px;
        font-weight: $font-regular;
        color: rgba(63, 78, 79, 1);
        display: block;
        margin-bottom: 5px;
      }

      &:not(:last-child)::after {
        content: "";
        position: absolute;
        bottom: -30px;
        left: 0;
        width: 100%;
        height: 2px;
        background: #C9C9C9;
        margin: 30px 0;
      }
    }
  }

  .blog-header {
    text-align: center;
    background: #fbe9e7;
    background: transparent;

    @media (max-width: 768px) {
      padding: 30px;
    }
  }

  .social-icons span {
    margin: 0 10px;
    cursor: pointer;
  }

  img {
    width: 100%;
  }

}